{# Bootstrap button render #}

{% extends "VictoireButtonBundle:Commons:button/show.html.twig"%}


{% block content %}
<a href="{{widget.link}}" target="{{ widget.target|default('_parent') }}" title="{{widget.hoverTitle}}" class="btn btn-{{ widget.size }} btn-{{ widget.style }}">
    {{widget.title}}
</a>

{% endblock content %}
