{% block body %}

<div class="vic-widget vic-widget-button" id="widget-{{widget.id}}">
{% block actions %}{{cms_widget_actions(widget)}}{% endblock actions %}

{% block content %}
{#Booya ! Replace this default rendering by your own logic#}
<a href="{{widget.link}}" target="{{ widget.target|default('_parent') }}" title="{{widget.hoverTitle}}" class="vic-btn vic-btn-{{ widget.size }} vic-btn-{{ widget.style }}">
    {{widget.title}}
</a>
{#Enjoy !#}
{% endblock content %}
</div>

{% endblock body %}
