{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
{% if widget.linkType == 'page' %}
<a href="{{ path('victoire_core_page_show', {'url' : widget.page.url }) }}" target="{{ widget.target|default('_parent') }}" title="{{widget.hoverTitle}}" class="btn btn-{{ widget.size }} btn-{{ widget.style }}">
{% else %}
    <a href="{{widget.link}}" target="{{ widget.target|default('_parent') }}" title="{{widget.hoverTitle}}" class="btn btn-{{ widget.size }} btn-{{ widget.style }}">
{% endif %}
    {{widget.title}}
</a>
{% endblock content %}
