{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}

{% set targetTag = target == "ajax-modal" ? 'data-toggle=' ~ target : 'target="' ~ target|default('_parent') ~ '"' %}

{% if linkType == 'page' %}
    {% set link = path('victoire_core_page_show', {'url' : page.url }) %}
{% elseif linkType == 'route'  %}
    {% set link = path(route, routeParameters) %}
{% endif %}
    <a href="{{ link }}" {{ targetTag }} title="{{ hoverTitle }}" class="btn btn-{{ size }} btn-{{ style }}">
        {{ title|nl2br|raw }}
    </a>
{% endblock content %}
