{# Foundaion button render #}

{% extends "VictoireButtonBundle:Commons:Widget/Button/show.html.twig"%}


{% block content %}
<a href="{{widget.link}}" target="{{ widget.target|default('_parent') }}" title="{{widget.hoverTitle}}" class="button button-{{ widget.size }} button-{{ widget.style }}">
    {{widget.title}}
</a>

{% endblock content %}
